@use '../../globalStyles/variables';

$distance-between-photo-name: 16px;
$top-range: 52px;
$bottom-range: 40px;
$menu-width: 290px;

$links-gap: 28px;
$link-height: 36px;
$distance-icon-text: 36px;
$active-link-line-width: 3px;
$active-link-color: variables.$blue;

.menu {
    width: $menu-width;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: $top-range 0 $bottom-range;

    &-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $distance-between-photo-name;

        &-name {
            @include variables.font-l;
        }

        &-avatar {
            position: relative;
            border-radius: 50%;
            overflow: hidden;

            &:hover {
                .menu-profile-avatar__change {
                    display: flex;
                }
            }

            &__change {
                display: none;
                position: absolute;
                cursor: pointer;
                inset: 0;
                justify-content: center;
                align-items: center;
                background: variables.$black;
                opacity: 0.6;
                @include variables.noselect;

                &-content {
                    width: 80%;
                    height: 80%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: variables.$white;
                }
            }
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: $links-gap;

        &-container {
            flex: 1;
            margin-top: 76px;
        }

        &__item {
            display: flex;
            align-items: center;
            padding-left: $distance-icon-text;
            height: $link-height;
            cursor: pointer;
            @include variables.font-m;
            text-transform: uppercase;
            font-weight: 600;
            color: variables.$grey;

            &.active {
                padding-left: calc($distance-icon-text - $active-link-line-width);
                border-left: $active-link-line-width solid $active-link-color;
                color: $active-link-color;

                img {
                    filter: invert(48%) sepia(94%) saturate(3334%) hue-rotate(194deg) brightness(100%) contrast(90%);
                }
            }

            &__link {
                gap: 12px;
                display: flex;
                align-items: center;
                color: inherit
            }
        }
    }
}