<!DOCTYPE html>
<html lang="ru">

{{#block "head"}}
    <head>
        {{#block "title"}}
            <title>{{title}}</title>
        {{/block}}
        <link href="./styles/normalize.scss" rel="stylesheet" />
        <link href="./styles/global.scss" rel="stylesheet" />
        {{#block "styles"}}
            {{#each stylesheets}}
                <link href="{{this}}" rel="stylesheet" />
            {{/each}}
        {{/block}}
    </head>
{{/block}}

{{#block "body"}}
    <body>
        {{#block "main"}}
        {{/block}}

        {{#block "scripts"}}
            {{#each scripts}}
                <script defer src="{{this}}"></script>
            {{/each}}
        {{/block}}
    </body>
{{/block}}
</html>