<div class="root-container">
    <div class="error-page">
        <span class="error-page-title">{{title}}</span>
        <span class="error-page-description">{{description}}</span>
        <a href="./chats.hbs">back to chat</a>
    </div>
</div>