<div class="root-container">
    <div class="form-container">
        <h2 class="form-title">{{ valueOrDefault formTitle "Form" }}</h2>
        <form class="form">
            <div class="form-fields">
                {{#block "form"}}{{/block}}
            </div>
            <a href="./chats.hbs">
                {{> button type="button" children=(valueOrDefault buttonText "Click") }}
            </a>
        </form>
        {{#block "additionalBottomContent"}}{{/block}}
    </div>
</div>