---
stylesheets:
- ./styles/chats.scss
- ./styles/form_layout.scss
- ../components/styles/button.scss
- ../components/styles/input.scss
---


{{#extend "base_layout"}}
    {{#content "main"}}
        {{#extend "form_layout" buttonText="Sign in" formTitle="Login"}}
            {{#content "form"}}
                {{> input underline=true label="Login" name="login" }}
                {{> input underline=true label="Password" type="password" name="password" }}
            {{/content}}
            {{#content "additionalBottomContent"}}
                <div>
                    <span>No account?</span>
                    <a href="./reg.hbs">Create one</a>
                </div>
            {{/content}}
        {{/extend}}
    {{/content}}
{{/extend}}