---
title: 'Settings'
haveChanges: true

stylesheets:
- ./styles/settings.scss
- ./styles/main_layout.scss
- ../components/styles/message.scss
- ../components/styles/avatar.scss
- ../components/styles/menu.scss
- ../components/styles/input.scss
- ../components/styles/button.scss
---

{{#extend "base_layout"}}
    {{#content "main"}}
        {{> menu activeTitle=title}}
        {{#extend "main_layout"}}
            {{#content "content"}}
                <div class="settings">
                    <h1 class="header-title">{{title}}</h1>
                    <div>
                        <h2>Profile</h2>
                        <form class="form">
                            <div class="form__fields">
                                {{> settingsFormField defaultValue=profile.email title="Email" name="email" }}
                                {{> settingsFormField defaultValue=profile.login title="Login" name="login" }}
                                {{> settingsFormField defaultValue=profile.first_name title="First Name" name="first_name" }}
                                {{> settingsFormField defaultValue=profile.second_name title="Second Name" name="second_name" }}
                                {{> settingsFormField defaultValue=profile.display_name title="Display Name" name="display_name" }}
                                {{> settingsFormField defaultValue=profile.phone title="Phone" name="phone" }}
                            </div>
                            {{> button type="submit" children="Сохранить" disabled=haveChanges }}
                        </form>
                    </div>
                    <div>
                        <h2>Password</h2>
                        <form class="form">
                            <div class="form__fields">
                                {{> settingsFormField placeholder="********" title="Old Password" name="oldPassword" }}
                                {{> settingsFormField placeholder="********" title="New Password" name="newPassword" }}
                                {{> settingsFormField placeholder="********" title="New Password again" name="newPasswordAgain" }}
                            </div>
                            {{> button type="submit" children="Сохранить" disabled=haveChanges }}
                        </form>
                    </div>
                </div>
            {{/content}}
        {{/extend}}
    {{/content}}
{{/extend}}