@use 'variables';

.dialog {
    height: 220px;
    width: 100%;
    border-radius: 6px;
    background: variables.$white;
    padding: 30px 40px;
    position: relative;

    &.selected {
        background: variables.$white-to-blue-gradient;

        .message {
            color: variables.$white;
        }

        .dialog-time {
            color: variables.$white;
            opacity: 0.75;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;

        &-left {
            display: flex;
            gap: 20px;
        }
    }

    &-user-name {
        @include variables.font-l;
        font-weight: bold;
        text-transform: capitalize;
    }

    &-time {
        color: variables.$grey;
        font-weight: 500;
    }

    &__unread-badge {
        margin-top: 7px;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        .message {
            width: 92%;
            padding: 0;
            color: variables.$grey;
            font-weight: 500;
        }

        .unread-badge {
            $size: 20px;
            width: $size;
            height: $size;
            @include variables.font-s;
            display: flex;
            align-items: center;
            justify-content: center;
            background: variables.$red;
            border-radius: 50%;
            color: variables.$white;
        }
    }
}