<button
    class="button button_{{valueOrDefault color 'blue'}} button_{{valueOrDefault format 'rect'}}"
    {{#if disabled}}
        disabled
    {{/if}}
    type="{{ valueOrDefault type 'button' }}"
>
    {{{children}}}
</button>